* {
    margin: 0;
    padding: 0;
}

body {
    background: url("../../images/bg-2.jpg") no-repeat;
    background-position: center;
    background-size: cover;
}

.form-box {
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    backdrop-filter: blur(15px);
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.btn_icon {
    cursor: pointer;
    color: #ffffff;
}

.btn_icon:hover {
    color: rgb(160, 160, 160) !important;
}

.register {
    font-size: 0.9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

.form-select {
    --bs-form-select-bg-img: url("../../images/icons/down.svg");
}